<div class="product-card" [ngClass]="{'product-card--noprice': !price}">
    <div class="product-card__wrap">
        <figure>
            <img src="/assets/images/part.png" alt="part">
        </figure>
        <figcaption class="d-flex align-items-center justify-content-between">
            <span>{{infoText}}</span>
            <a><img src="/assets/images/edit.svg" alt="edit"></a>
        </figcaption>
    </div>
    <div class="product-card__price" *ngIf="price">
        Meerprijs + €200
    </div>
</div>