<div class="mt-md-3 mt-2 map-block">
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d9555208.856367579!2d-13.426898924564524!3d54.21876917973951!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x25a3b1142c791a9%3A0xc4f8a0433288257a!2sUnited%20Kingdom!5e0!3m2!1sen!2sin!4v1668749638266!5m2!1sen!2sin"
        width="100%" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade">
    </iframe>

    <!-- map info card -->
    <div class="map-block__card position-relative">
        <img src="assets/images/map-cycle.svg" alt="Map icon"/>
        <header class="d-flex align-items-center">
            <img src="assets/images/map-pin.svg" alt="Map Icon"/>
            <span>16,5km</span>
        </header>
        <article>
            <h6>Paul Willemsen rijwielspecialist</h6>

            <p>Woudseweg 6<br/>2635CC, ‘s Hertogenbosch ZH<br/>070-1234567</p>

            <button class="btn btn-secondary w-100">Kies dealer <img src="assets/images/checkmark.svg" alt=""/></button>
        </article>
    </div>
</div>