<app-header></app-header>

<div class="delivery-data">
  <div class="container">
    <h1>Verzending</h1>

    <div class="delivery-data__inner d-flex flex-wrap">
      <div class="delivery-data__content">
        <app-user-form [groupName]="userForm" class="w-100"></app-user-form>

        <div class="delivery-data__tabs w-100">
          <h3>Keuze verzending</h3>
          <ul class="nav nav-tabs row mt-4" id="myTabModal2" role="tablist">
            <li class="nav-item col-6" role="presentation">
              <button class="nav-link d-flex justify-content-between
                      active" id="homeDelivery" data-bs-toggle="tab" data-bs-target="#nav-homeDelivery" type="button"
                role="tab" aria-controls="homeDelivery" aria-selected="true">
                <span>Thuisbezorgen</span>
                <img src="/assets/images/home-blue.svg" alt="home" title="home">
                <img src="/assets/images/home.svg" alt="home" title="home">
              </button>
            </li>
            <li class="nav-item col-6" role="presentation">
              <button class="nav-link d-flex justify-content-between" id="pickup" data-bs-toggle="tab"
                data-bs-target="#nav-pickup" type="button" role="tab" aria-controls="pickup" aria-selected="false">
                <span>Afhalen bij dealer</span>
                <img src="/assets/images/pin-blue.svg" alt="pin" title="pin">
                <img src="/assets/images/pin.svg" alt="pin" title="pin">
              </button>
            </li>
          </ul>

          <div class="delivery-data__question">
            <a (click)="openDeliveryOptionPopup()">Why can I only select home delivery or click & collect?</a>
          </div>

          <div class="tab-content" id="myTabContent2">
            <div class="tab-pane fade show active" id="nav-homeDelivery" role="tabpanel"
              aria-labelledby="nav-homeDelivery">
              <app-home-delivery></app-home-delivery>
            </div>
            <div class="tab-pane fade" id="nav-pickup" role="tabpanel" aria-labelledby="nav-pickup">
              <app-pickup></app-pickup>
            </div>
          </div>
        </div>

        <!-- <app-delivery-form class="w-100"></app-delivery-form> -->
      </div>
      <div class="delivery-data__info">
        <app-product-price-info [description]="true" [accept]="true"></app-product-price-info>
      </div>
    </div>
  </div>
</div>
<app-modal [activeClass]="deliveryOptionPopup" (close)="closeDeliveryOptionPopup()" [headerCustomClass]="['px-0']"
  headerTitle="Meer informatie Frame">
  <ng-container body>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus temporibus fuga aut odit maiores alias
    sequi excepturi labore ratione minus reiciendis tempora ullam, odio vero perferendis distinctio harum sunt? Ad
    recusandae natus pariatur repellendus provident obcaecati quisquam vitae, aliquam aspernatur asperiores quae
    inventore deleniti voluptatem, nesciunt blanditiis consequatur nam! Explicabo ab distinctio reprehenderit neque a
    unde quia ea iusto! Eaque, doloribus delectus! Sequi sed asperiores vitae aliquid et illum eaque enim, consequatur
    eum! Sint quaerat quo possimus inventore dolorum ullam laboriosam, enim repellendus, debitis magnam quibusdam
    placeat autem nemo provident, quod est consequatur sit nihil. Ipsum dolor odit autem laudantium.
  </ng-container>
</app-modal>
