* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-family-base;
}
body {
    font-size: 16px;
    line-height: 1.5;
    color: $color-darkBlue;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    @include max-screen($mobile){
        font-size: 14px;
    }
}
a {
    outline: none;
    cursor: pointer;
    color: $color-black;
    text-decoration: none;
}
img {
    max-width: 100%;
}