* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: $font-family-base;
}
a {
    outline: none;
    cursor: pointer;
    color: $color-black;
    text-decoration: none;
}
img{
    max-width: 100%;
}