.form-floating {
  margin-bottom: 24px;
  @include max-screen($mobile) {
    margin-bottom: 15px;
  }
  & > .form-control,
  & > .form-select {
    border-radius: 0;
    border-color: $color-borderdark;
    height: 48px;
    box-shadow: 0 0 0;
    color: $color-secondary;
    padding: 0 12px !important;
    @include max-screen($mobile) {
      height: 40px;
      font-size: 14px;
    }
  }
  & > textarea.form-control{
    padding: 11px 15px !important;
    min-height: 80px;
    resize: none;
  }
  & > .form-select {
    @include background-image(
      select-arrow,
      svg,
      calc(100% - 15px) center,
      no-repeat,
      24px
    );
    @include max-screen($mobile) {
      font-size: 14px;
      background-size: 16px;
      background-position: calc(100% - 10px);
    }
  }
  & > label {
    padding: 11px 15px;
    color: rgba($color-secondary, 0.2);
    opacity: 1;
    font-size: 16px;
    @include max-screen($mobile) {
      padding: 9px 15px;
      font-size: 14px;
    }
    & > span {
      color: $color-error;
    }
  }
  & > .form-control-plaintext,
  & > .form-control:focus,
  & > .form-control:not(:placeholder-shown),
  & > .form-select {
    & ~ label {
      transform: scale(0.85) translateY(-10px) translateX(0.15rem);
      background-color: $color-white;
      width: auto;
      opacity: 1;
      padding: 0 5px;
      left: 5px;
      height: auto;
      color: rgba($color-secondary, 0.7);
      font-size: 12px;
    }
  }

  .invalid-feedback {
    color: $color-error;
  }
  &.suffix {
    & > .form-control {
      padding-right: 50px !important;
    }
    img {
      position: absolute;
      top: 24px;
      transform: translateY(-50%);
      right: 15px;
      width: 24px;
      @include max-screen($mobile) {
        top: 20px;
        width: 20px;
        right: 12px;
      }
    }
  }
}

.form-check {
  position: relative;
  padding-left: 35px;
  @include max-screen($tablet) {
    padding-left: 30px;
  }
  & > label {
    font-weight: 700;
    color: $color-secondary;
    small {
      color: $color-borderdark;
      font-weight: 400;
      margin-left: 14px;
      font-size: 100%;
      @include max-screen($mobile) {
        margin-left: 2px;
      }
    }
    &::before {
      @include round-image(26px);
      content: "";
      border: 2px solid $color-secondary;
      display: block;
      position: absolute;
      left: 0;
      top: -2px;
      @include max-screen($tablet) {
        top: -1px;
        @include round-image(22px);
      }
    }
    &.active {
      &::after {
        @include round-image(16px);
        content: "";
        background-color: $color-secondary;
        display: block;
        position: absolute;
        left: 5px;
        top: 3px;
        @include max-screen($tablet) {
          top: 3px;
          left: 4px;
          @include round-image(14px);
        }
      }
    }
  }
  .form-check-input {
    opacity: 0;
    &:checked {
      & + label {
        &::after {
          @include round-image(16px);
          content: "";
          background-color: $color-secondary;
          display: block;
          position: absolute;
          left: 5px;
          top: 3px;
          @include max-screen($tablet) {
            top: 3px;
            left: 4px;
            @include round-image(14px);
          }
        }
      }
    }
  }
}
