h3 {
    font-size: 32px;
    font-weight: 500;
    line-height: 1.15;
    color: $color-primary;
    font-family: $font-family-secondary;
    @include max-screen($tablet-lg) {
        font-size: 25px;
    }
    @include max-screen($mobile) {
        font-size: 20px;
    }
}
h5 {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.4;
    color: $color-secondary;
}