// colors
$color-primary: #0e7cc7;
$color-secondary: #041e42;
$color-cream: #fff5e9;
$color-white: #fff;
$color-error: #d30e29;
$color-success: #03d26f;
$color-black: #000;
$color-borderdark: #656d8e;
$color-darkBlue: #232f5d;
$color-disabled: #cfe5f4;
$color-disabled-dark: #d3d5df;
$color-disabled-gray: #d8d8d8;
$color-disabled-light: #eaeaea;

// base
$font-size-base: 16px;
$line-height-base: 1.5;
$font-family-base: "Quatro", sans-serif;
$font-family-secondary: "Quatro Slab", sans-serif;
$radius: 10px;
$radius-xl: 55px;

// breakpoints
$smobile: 575px;
$mobile: 767px;
$tablet: 991px;
$tablet-lg: 1024px;
$desktop: 1199px;
$desktop-large: 1366px;
$desktop-xlarge: 1599px;

// image path
$imgPath: "/assets/images/";

// mixins
@import "mixins";
