
// colors
$color-primary: #0E7CC7;
$color-secondary: #041E42;
$color-cream: #FFF5E9;
$color-white: #fff;
$color-error: #D30E29;
$color-success: #03D26F;
$color-black: #000;
$color-darkBlue:#232F5D;
$color-disabled:#CFE5F4;
$color-disabled-dark: #D3D5DF;
$color-disabled-gray: #D8D8D8;
$color-disabled-light: #EAEAEA;

// base
$font-size-base: 16px;
$line-height-base: 1.5;
$font-family-base: 'Quatro', sans-serif;
$font-family-secondary: 'Quatro Slab', sans-serif;
$radius:10px;
$radius-xl:55px;

// breakpoints
$smobile: 575px;
$mobile: 767px;
$tablet: 991px;
$tablet-lg: 1024px;
$desktop: 1199px;
$desktop-large: 1366px;
$desktop-xlarge: 1599px;

// image path
$imgPath: "/assets/images/";

// mixins
@import "mixins";

