<div class="informationFrame">
    <span class="informationFrame__cross d-flex justify-content-end" >
        <img src="/assets/images/cross-white.svg" role="button" alt="cross" title="cross">
    </span>
    <div class="informationFrame__wrapper">
        <h2>Meer informatie Frame</h2>
    <ul class="nav nav-tabs" id="myTabModal" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="Specificaties" data-bs-toggle="tab" data-bs-target="#nav-Specificaties" type="button" role="tab" aria-controls="Specificaties" aria-selected="true">Specificaties</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="Foto" data-bs-toggle="tab" data-bs-target="#nav-Foto" type="button" role="tab" aria-controls="Foto" aria-selected="false">Foto</button>
        </li>
       
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="nav-Specificaties" role="tabpanel" aria-labelledby="nav-Specificaties">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Urna massa ut sed nibh quis ultrices quis. Sem aenean neque, vel morbi scelerisque vitae ultrices nisl sit. Neque sapien mauris non lacinia non sed ut. Velit morbi arcu cras vulputate aliquam id. Mi mauris amet nibh lobortis. Eget consequat at et molestie aliquet a. Risus vivamus eget et aliquet mattis quis egestas at. Pretium nunc pretium sit a erat curabitur in.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Urna massa ut sed nibh quis ultrices quis. Sem aenean neque, vel morbi scelerisque vitae ultrices nisl sit. Neque sapien mauris non lacinia non sed ut. Velit morbi arcu cras vulputate aliquam id. Mi mauris amet nibh lobortis. Eget consequat at et molestie aliquet a. Risus vivamus eget et aliquet mattis quis egestas at. Pretium nunc pretium sit a erat curabitur in.</p>
        </div>
        <div class="tab-pane fade" id="nav-Foto" role="tabpanel" aria-labelledby="nav-Foto">
            <img src="/assets/images/foto.jpg" role="button" alt="Foto" title="Foto">
        </div>
    </div>
      </div>
</div>
