<div class="informationFrame">
    <span class="informationFrame__cross d-flex justify-content-end" >
        <img src="/assets/images/cross-white.svg" role="button" alt="cross" title="cross">
    </span>
    <div class="informationFrame__wrapper">
        <h2>Meer informatie Frame</h2>
    <ul class="nav nav-tabs" id="myTabModal" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="Specificaties" data-bs-toggle="tab" data-bs-target="#nav-Specificaties" type="button" role="tab" aria-controls="Specificaties" aria-selected="true">Specificaties</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="Foto" data-bs-toggle="tab" data-bs-target="#nav-Foto" type="button" role="tab" aria-controls="Foto" aria-selected="false">Foto</button>
        </li>
       
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="nav-Specificaties" role="tabpanel" aria-labelledby="nav-Specificaties">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Urna massa ut sed nibh quis ultrices quis. Sem aenean neque, vel morbi scelerisque vitae ultrices nisl sit. Neque sapien mauris non lacinia non sed ut. Velit morbi arcu cras vulputate aliquam id. Mi mauris amet nibh lobortis. Eget consequat at et molestie aliquet a. Risus vivamus eget et aliquet mattis quis egestas at. Pretium nunc pretium sit a erat curabitur in.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Urna massa ut sed nibh quis ultrices quis. Sem aenean neque, vel morbi scelerisque vitae ultrices nisl sit. Neque sapien mauris non lacinia non sed ut. Velit morbi arcu cras vulputate aliquam id. Mi mauris amet nibh lobortis. Eget consequat at et molestie aliquet a. Risus vivamus eget et aliquet mattis quis egestas at. Pretium nunc pretium sit a erat curabitur in.</p>
        </div>
        <div class="tab-pane fade" id="nav-Foto" role="tabpanel" aria-labelledby="nav-Foto">
            <img src="/assets/images/foto.jpg" role="button" alt="Foto" title="Foto">
        </div>
    </div>
      </div>
</div>

<!--  language modal-->
<div class="informationFrame language">
    <span class="informationFrame__cross d-flex" >
        <img src="/assets/images/arrow-back-white.svg" role="button" alt="cross" title="cross">
        <span class="ms-2">Ga terug</span>
    </span>
    <div class="informationFrame__wrapper">
        <div class="logo">
        <img src="/assets/images/logo-signature.svg" alt="logo" title="logo">
        </div>
        <h2>Selecteer uw land en taalkeuze</h2>
    <ul class="nav nav-tabs" id="myTabModal" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="Afrika" data-bs-toggle="tab" data-bs-target="#nav-Afrika" type="button" role="tab" aria-controls="Afrika" aria-selected="true">Afrika</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="Asia" data-bs-toggle="tab" data-bs-target="#nav-Asia" type="button" role="tab" aria-controls="Asia" aria-selected="false">Asia</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="Asia" data-bs-toggle="tab" data-bs-target="#nav-Asia" type="button" role="tab" aria-controls="Asia" aria-selected="false">Amerika</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="Asia" data-bs-toggle="tab" data-bs-target="#nav-Asia" type="button" role="tab" aria-controls="Asia" aria-selected="false">Europe</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="Asia" data-bs-toggle="tab" data-bs-target="#nav-Asia" type="button" role="tab" aria-controls="Asia" aria-selected="false">Ocenia</button>
          </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="nav-Afrika" role="tabpanel" aria-labelledby="nav-Afrika">
            <div class="flex-wrap d-flex align-items-center">
           <div class="d-flex align-items-center flag" *ngFor="let _ of [].constructor(20)">
            <img src="/assets/images/angola.svg" alt="Angola" title="Angola" class="me-2">
            <span>Angola</span>
           </div>
           <div class="d-flex align-items-center flag active" >
            <img src="/assets/images/angola.svg" alt="Angola" title="Angola" class="me-2">
            <span>Angola</span>
           </div>
        </div>
        </div>
        <div class="tab-pane fade" id="nav-Asia" role="tabpanel" aria-labelledby="nav-Asia">
            <div class="flex-wrap d-flex align-items-center">
            <div class="d-flex align-items-center flag" *ngFor="let _ of [].constructor(10)">
                <img src="/assets/images/angola.svg" alt="Angola" title="Angola" class="me-2">
                <span>Angola</span>
               </div>
            </div>
        </div>
    </div>
      </div>
</div>