@import "../../../../assets/scss/variables.scss";
.frame-info {
    .nav-tabs {
        padding: 0 60px;
        border-bottom: 2px solid rgba($color-white, 0.5);
        @include max-screen($tablet) {
            padding: 0px;
        }
        @include max-screen($mobile){
            border-bottom-color: rgba($color-darkBlue, 0.2);
        }
        .nav-item {
            @include max-screen($mobile){
                flex: 1;
            }
        }
        .nav-link {
            border: 0;
            padding: 8px 0;
            font-size: 20px;
            font-weight: 400;
            margin: 0 20px -2px;
            color: $color-white;
            background-color: transparent;
            border-bottom: 2px solid transparent;
            @include max-screen($tablet) {
                font-size: 16px;
            }
            @include max-screen($mobile){
                width: 100%;
                margin: 0 0 -2px;
                color: $color-darkBlue;
            }
            &.active {
                font-weight: 700;
                border-bottom: 2px solid $color-white;
                @include max-screen($mobile){
                    border-bottom-color: $color-darkBlue;
                }
            }
        }
    }
    .tab-content {
        padding: 24px 80px;
        @include max-screen($tablet) {
            padding: 20px 0;
        }
        p {
            color: $color-white;
            @include max-screen($mobile){
                color: $color-darkBlue;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}
