<div class="product-block">
    <div class="product-block__wrap d-flex flex-wrap">
        <div class="product-block__left">
            <h3>Worldtraveller-S</h3>
            <picture>
                <img src="/assets/images/cycle-blue.png" alt="Worldtraveller-S">
            </picture>
        </div>
        <div class="product-block__right">
            <ol class="d-flex justify-content-between align-items-xl-center align-items-start">
                <li>Prijs</li>
                <li>Aantal</li>
                <li>Subtotaal</li>
            </ol>
            <ul class="d-flex justify-content-between align-items-xl-center align-items-end">
                <li>€ 4,343.99</li>
                <li><input type="text" value="1"></li>
                <li>€ 4,343.99</li>
            </ul>
        </div>
    </div>

    <div class="product-block__social d-none d-lg-block">
        <ul class="d-flex flex-wrap">
            <li class="pe-4 pb-2">
                <a class="d-flex align-items-center">
                    <img src="/assets/images/mail.svg" alt="mail" class="me-2">
                    <span>Mail me</span>
                </a>
            </li>
            <li class="pe-4 pb-2">
                <a class="d-flex align-items-center">
                    <img src="/assets/images/call.svg" alt="call" class="me-2">
                    <span>Contact us</span>
                </a>
            </li>
            <li class="pe-4 pb-2">
                <a class="d-flex align-items-center">
                    <img src="/assets/images/share.svg" alt="share" class="me-2">
                    <span>Share</span>
                </a>
            </li>
            <li class="pe-4 pb-2">
                <a class="d-flex align-items-center">
                    <img src="assets/images/download.svg" alt="Download" class="me-2"/>
                    <span>Download</span>
                </a>
            </li>
        </ul>
    </div>
</div>