<div class="side-menu px-3">
    <a class="side-menu__close d-inline-flex align-items-center">
        <img class="me-2" src="/assets/images/cross-blue.svg" alt="cross">
        Close
    </a>
    <ul class="list-unstyled components mb-5">
        <li class="active">
            <a class="text-truncate">
                <img src="assets/images/configuration.svg" alt=""/>
                Home
            </a>
        </li>
        <li><a class="text-truncate">About</a></li>
        <li><a class="text-truncate">Works</a></li>
    </ul>
</div>