<div class="side-menu flex-column d-flex" [ngClass]="{'active':isOpened}">
    <a class="side-menu__close d-inline-flex align-items-center align-self-start" (click)="toggleMenu.next(true)">
        <img class="me-2" src="/assets/images/cross-blue.svg" alt="cross">
        Close
    </a>
    <div class="side-menu__wrap">
        <ul>
            <li>
                <a [routerLink]="['/']" class="text-truncate">
                    <img src="assets/images/back.svg" alt="back">
                    WorldTraveller-S
                </a>
            </li>
            <li>
                <a class="text-truncate">
                    <img src="assets/images/configuration.svg" alt=""/>
                    Open saved configuration
                </a>
            </li>
            <li>
                <a class="text-truncate">
                    <img src="assets/images/language.svg" alt=""/>
                    Landkeuze
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="side-menu__overlay" (click)="toggleMenu.next(true)" [ngClass]="{'active':isOpened}"></div>