<div class="side-menu flex-column d-flex" [ngClass]="{'active':isOpened}">
    <a class="side-menu__close d-inline-flex align-items-center" (click)="toggleMenu.next(true)">
        <img class="me-2" src="/assets/images/cross-blue.svg" alt="cross">
        Close
    </a>
    <div class="side-menu__wrap">
        <ul>
            <li>
                <a [routerLink]="['/']" class="text-truncate">
                    <img src="assets/images/back.svg" alt="back">
                    WorldTraveller-S
                </a>
            </li>
            <li class="active">
                <a class="text-truncate">
                    <img src="assets/images/info.svg" alt=""/>
                    Home
                </a>
            </li>
            <li>
                <a class="text-truncate">
                    <img src="assets/images/info.svg" alt=""/>About
                </a>
                <ul>
                    <li><a class="text-truncate">Lorem Ipsum sit</a></li>          
                    <li><a class="text-truncate">Lorem Ipsum sit</a></li>          
                </ul>
            </li>
            <li>
                <a class="text-truncate">
                    <img src="assets/images/info.svg" alt=""/> Works
                </a>
            </li>
        </ul>
    </div>
</div>