<div class="configurator">
    <app-config-header></app-config-header>
    <div class="configurator__info d-flex flex-wrap">
        <article class="d-flex justify-content-md-end align-items-center">
            <figure>
                <img src="/assets/images/cycle.png" alt="cycle">
            </figure>
        </article>
        <aside class="d-flex">
            <app-frame class="d-flex w-100"></app-frame>
        </aside>
    </div>
    <div class="configurator__bottom">
        <app-config-footer></app-config-footer>
    </div>
</div>