<div class="configurator" [ngClass]="{'configurator--view': viewToggle}">
  <app-config-header></app-config-header>
  <div class="configurator__info d-flex flex-wrap">
    <article class="d-flex justify-content-center align-items-center" [ngClass]="{'justify-content-lg-center px-3':viewToggle, 'justify-content-lg-end':!viewToggle}">
        <div class="configurator__view d-none d-lg-flex">
            <a class="is-save" placement="top" ngbTooltip="Save"><img src="assets/images/save-white.svg" alt="save"/></a>
            <a [ngClass]="{'active': viewToggle}" (click)="clickViewToggle(true)" placement="top" ngbTooltip="View mode"><img src="assets/images/eye.svg" alt="Eye"/></a>
            <a [ngClass]="{'active': !viewToggle}" (click)="clickViewToggle(false)" placement="top" ngbTooltip="Edit mode"><img src="assets/images/edit-solid.svg" alt="Edit"/></a>
        </div>
      <figure>
        <img src="/assets/images/cycle.png" alt="cycle">
      </figure>
    </article>

    <aside class="d-flex">
      <ng-container [ngSwitch]="currentStep.ref">
        <ng-container *ngSwitchCase="'groupSet'">
          <app-groupset class="d-flex w-100"></app-groupset>
        </ng-container>
        <ng-container *ngSwitchCase="'wheels'">
          <app-wheels class="d-flex w-100"></app-wheels>
        </ng-container>
        <ng-container *ngSwitchCase="'handleBars'">
          <app-handlebars class="d-flex w-100"></app-handlebars>
        </ng-container>
        <ng-container *ngSwitchCase="'saddle'">
          <app-saddle class="d-flex w-100"></app-saddle>
        </ng-container>
        <ng-container *ngSwitchCase="'carriers'">
          <app-carriers class="d-flex w-100"></app-carriers>
        </ng-container>
        <ng-container *ngSwitchCase="'lightning'">
          <app-lightning class="d-flex w-100"></app-lightning>
        </ng-container>
        <ng-container *ngSwitchCase="'accessoires'">
          <app-accessoiries class="d-flex w-100"></app-accessoiries>
        </ng-container>
        <ng-container *ngSwitchCase="'size'">
          <app-size class="d-flex w-100"></app-size>
        </ng-container>
        <ng-container *ngSwitchDefault>
          <app-frame class="d-flex w-100"></app-frame>
        </ng-container>
      </ng-container>
    </aside>
  </div>
  <div class="configurator__bottom">
    <app-config-footer [openSaved]="currentStep.ref ==='frame'"></app-config-footer>
  </div>
</div>
