@import "../../assets/scss/variables.scss";

.configurator {
  height: 100vh;
  position: relative;
  padding-bottom: 80px;
  background-color: $color-cream;

  @include max-screen($tablet-lg) {
    height: auto;
    min-height: 100vh;
    padding-bottom: 70px;
    background-color: $color-white;
  }

  &__info {
    padding-top: 24px;

    @include max-screen($tablet-lg) {
      padding-top: 0;
    }

    article {
      z-index: 1;
      position: relative;
      padding: 45px 0 15px 40px;
      width: calc(100% - 503px);
      height: calc(100vh - 152px);

      @include min-screen(2200px) {
        justify-content: center !important;
      }

      @include max-screen($desktop-xlarge) {
        padding-left: 20px;
      }

      @include max-screen($desktop-large) {
        padding-left: 15px;
      }

      @include max-screen($desktop) {
        padding: 15px 0 15px 15px;
        width: calc(100% - 400px);
        height: calc(100vh - 182px);
      }

      @include max-screen($tablet-lg) {
        width: 100%;
        height: auto;
        padding: 15px 15px 45px;
        background-color: $color-white;
        @include background-image(bottom-pattern, png, center bottom, repeat-x, 300px);
      }

      &::before {
        @include max-screen($tablet-lg) {
          top: 0;
          left: 0;
          z-index: -1;
          content: "";
          width: 100%;
          bottom: 38px;
          display: block;
          position: absolute;
          background-color: $color-cream;
        }
      }

      img {
        max-height: calc(100vh - 152px);
      }
    }

    figure {
      margin-right: -28px;

      @include max-screen($tablet-lg) {
        margin-right: 0;
      }

      @include min-screen(2200px) {
        margin-right: 0;
      }
    }

    aside {
      width: 503px;
      padding-bottom: 30px;
      background-color: $color-white;

      @include max-screen($desktop) {
        width: 400px;
      }

      @include max-screen($tablet-lg) {
        width: 100%;
        padding-bottom: 0;
      }
    }
  }

  &__bottom {
    left: 0;
    bottom: 0;
    z-index: 5;
    width: 100%;
    position: fixed;

    @include max-screen($tablet-lg) {
      box-shadow: 0 -3px 5px rgba($color-black, 0.05);
    }
  }
}

.shipping {
  padding: 20px 40px 40px;
  background-color: $color-cream;
  min-height: 100vh;

  @include max-screen($tablet-lg) {
    padding: 15px;
  }

  h1 {
    margin-bottom: 24px;
  }

  &__inner {
    background-color: $color-white;
    padding: 40px;

    @include max-screen($tablet-lg) {
      padding: 15px;
    }

    h3 {
      border-bottom: 1px solid $color-disabled-dark;
      padding-bottom: 16px;
    }

    &-left {
      width: calc(100% - 390px);

      @include max-screen($tablet) {
        width: 100%;
      }
      h3{
        @include max-screen($mobile) {
            border-bottom: 0;
            padding-bottom: 0;
        }
      }
    }

    &-right {
      width: 390px;
      padding-left: 44px;

      @include max-screen($tablet) {
        width: 100%;
        margin-top: 30px;
        padding-left: 0;
      }

      h3 {
        font-weight: 700;
        @include max-screen($mobile) {
            border-bottom: 0;
            padding-bottom: 0;
        }
      }
    }

  }
}

.totalMain {

  p,
  strong {
    color: $color-secondary;

    @include max-screen($tablet) {
      margin-bottom: 0;
    }
  }

  &__price {
    border-bottom: 1px solid $color-disabled-dark;
    border-top: 1px solid $color-disabled-dark;
    padding: 88px 0 6px;
    margin-bottom: 24px;

    @include max-screen($tablet) {
      padding: 15px 0 6px;
      margin-bottom: 15px;
    }
  }

  &__note {
    margin-bottom: 24px;

    a {
      text-decoration: underline;
      
    }
  }
}

.shippingTabs {
  .nav-tabs {
    border: 0;

    .nav-item {
      .nav-link {
        border-radius: 0;
        border: 1px solid $color-secondary;
        width: 100%;
        font-weight: 500;
        font-size: 16px;
        color: $color-secondary;
        padding: 27px 15px;

        @include max-screen($tablet) {
          padding: 15px;
        }

        @include max-screen($smobile) {
          justify-content: center !important;
        }

        span {
          @include max-screen($smobile) {
            display: none;
          }
        }

        img {
          @include max-screen($tablet) {
            max-width: 20px;
          }

          &+img {
            display: none;
          }
        }

        &.active {
          background-color: $color-secondary;
          color: $color-white;

          img {
            display: none;

            &+img {
              display: block;
            }
          }
        }
      }
    }

  }

  .tab-content {
    padding-top: 58px;

    @include max-screen($tablet) {
      padding-top: 30px;
    }
  }

}

.addressSection {
  address {
    border: 1px solid $color-secondary;
    padding: 16px 32px;

    p {
      margin: 0;
    }
  }

  &__btn {
    max-width: 374px;
  }
}

.paymentSection {
  &__form {
    padding-top: 24px;

    .form-check {
      &:not(:last-child) {
        margin-bottom: 32px;
      }
    }
  }
}

.ccForm {
  max-width: 328px;
  margin-top: 16px;
}

.productList {
  &__left {
    width: calc(100% - 335px);

    @include max-screen($desktop) {
      width: 100%;
    }
  }

  &__right {
    width: 335px;

    @include max-screen($desktop) {
      width: 100%;
      margin-top: 30px;
    }
    @include max-screen($desktop) {
       display: flex;
       justify-content: space-between;
       padding-bottom: 10px;
       border-bottom: 1px solid $color-disabled-dark;
         }
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      @include max-screen($desktop) {
     flex-direction: column;
     align-items: flex-start !important;
      }

      li {
        font-weight: 700;
        font-size: 16px;
        padding: 10.5px 15px;
        width: 33.3%;
        white-space: nowrap;
        @include max-screen($desktop) {
            width: auto;
            padding: 10px 0;
            border: 0;
            font-size: 14px;
             }

        input {
          width: 63px;
          border: 1px solid $color-disabled-dark;
          min-height: 34px;
          padding: 5px 10px;
          font-weight: 700;
          text-align: right;
          outline: none;
          color: $color-secondary;

        }
        
      }

      & + ul{
        @include max-screen($desktop) {
        align-items: self-end !important;
        }
       li{
        @include max-screen($desktop) {
        text-align: right;
        }
       }
    }
    }

    &-headers {
      li {
        border-bottom: 1px solid $color-disabled-dark;
      }
    }
  }
}

.productListFooter {
  ul {
    border-bottom: 1px solid $color-disabled-dark;
    padding-bottom: 25px;
    margin-bottom: 40px;

    @include max-screen($tablet) {
      margin: 20px 0 !important;
      justify-content: space-between;
      padding: 0 0 15px 0 !important;
    }

    li {
        @include max-screen($tablet) {
           padding-right: 0 !important;
          }
      a {
        font-weight: 500;
        img{
            @include max-screen($tablet) {
              width: 15px;
             }  
        }
        span{
            @include max-screen($tablet) {
                font-size: 12px;
             }
        }
     
      }
    }
  }

  p {
    font-size: 20px;

    @include max-screen($tablet) {
      font-size: 16px;
    }

    @include max-screen($mobile) {
      width: 100%;
      margin-bottom: 15px !important;
      font-size: 14px;
    }
  }
}

.oversight {
  margin: 64px 0 0;
  @include max-screen($mobile) {
    margin: 30px 0 0;
  }
h2{
    margin-bottom: 24px;
    @include max-screen($mobile) {
        margin-bottom: 20px;
      }
}

  &__box {
    background-color: $color-white;
    padding: 48px 32px 5px;
    height: 100%;

    @include max-screen($tablet-lg) {
      padding: 15px 15px 5px;
    }

    h3 {
      border-bottom: 1px solid $color-disabled-dark;
      padding-bottom: 16px;
      margin-bottom: 24px;
      font-size: 20px;
      font-weight: 700;
     
    }

    &-price {
      margin-bottom: 15px;

      @include max-screen($desktop-large) {
        width: 100%;
      }
    }
  }
}

.productBox {
  @include max-screen($desktop-large) {
    margin: 0 -10px;
  }

  &__inner {
    width: 150px;
    min-height: 195px;
    margin: 0 24px 15px 0;
    display: flex;
    flex-direction: column;

    @include max-screen($desktop-large) {
      width: 50%;
      padding: 0 10px;
      margin-right: 0;
    }

    &:last-child {
      margin-right: 0;

    }

    &-main {
      border: 2px solid $color-disabled;
      padding: 16px;
      flex: 1;
      display: flex;
      flex-direction: column;

      figure {
        margin-bottom: 8px;
        height: 98px;
        flex: 1;
        text-align: center;
      }

      figcaption {
        flex: 0;

        span {
          font-size: 12px;
          font-weight: 400;
          line-height: 1.8;
          width: calc(100% - 20px);
        }
      }
    }

    &-title {
      font-size: 12px;
      font-weight: 700;
      margin-top: 10px;
      text-transform: uppercase;
      min-height: 22px;
    }
  }
}
