<form [formGroup]="fgroup" *ngIf="fgroup">
  <div class="form-floating">
    <select class="form-select" [formControlName]="controlName" id="floatingSelect"
      aria-label="Floating label select example">
      <option selected value="">{{default}}</option>
      <ng-container *ngFor="let option of options; let i = index">
        <option [value]="option.value">{{option.title}}</option>
      </ng-container>
    </select>
    <label for="floatingSelect">{{label}}
      <span *ngIf="isRequired">*</span>
    </label>
    <app-error-msg *ngIf="isRequired" [groupName]="fgroup" [controlName]="controlName"></app-error-msg>
  </div>
</form>
