<div class="back-header">
  <div class="container d-flex align-items-center justify-content-between">
    <a (click)="gotoConfigurationPage()" class="configHeader__back d-flex align-items-center"><img
        src="assets/images/back-blue.svg" alt="back">{{buttonText}}</a>

        <div class="back-header__language d-flex align-items-center" (click)="openModal()">
            <img src="assets/images/flag-uk.png" alt="" />
            <span class="ms-2">Landkeuze</span>
        </div>
  </div>
</div>

<app-language-selector [activeClass]="showLangPopup" (close)='closeModal($event)'>
</app-language-selector>
