@import "../../../assets/scss/variables.scss";
.usp {
    margin: 22px 0 0;
    padding-top: 29px;
    border-top: 1px solid $color-disabled-dark;
    @include max-screen($desktop){
        padding-top: 15px;
    }
    @include max-screen($tablet){
        border-top: 0;
        padding-top: 0;
        margin: 0 0 13px;
    }
    ul {
        margin: 0 -20px;
        li {
            margin: 9px 0;
            padding: 0 20px;
            @include max-screen($mobile) {
                width: 100%;  
            }
            > img {
                width: 24px;
                @include max-screen($mobile) {
                    width: 22px;
                }
            }
            aside {
                font-size: 20px;
                padding-left: 16px;
                width: calc(100% - 24px);
                @include max-screen($tablet) {
                    font-size: 16px;
                }
                @include max-screen($mobile) {
                    font-size: 14px;
                    padding-left: 8px;
                    width: calc(100% - 22px);
                }
                img {
                    width: 22px;
                    display: inline;
                }
            }
        }
    }
}
