
<div class="contact">
  <h3>Contact Us</h3>
  <form class="mt-md-4 mt-3" *ngIf="contactFormGroup" [formGroup]="contactFormGroup">
    <div class="row">
      <div class="col-md-6">
        <div class="form-floating">
          <input type="text" formControlName="name" class="form-control"
            id="floatingInput" placeholder="enter your name">
          <label for="floatingInput">Name</label>
          <app-error-msg [groupName]="contactFormGroup" controlName="name"></app-error-msg>
          <span class="invalid-message">Please enter your name </span>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-floating">
          <input type="text" formControlName="email" class="form-control"
            id="floatingInput"
            placeholder="name@example.com">
          <label for="floatingInput">Subject</label>
          <app-error-msg [groupName]="contactFormGroup" controlName="email"></app-error-msg>
          <span class="invalid-message">Please enter your email </span>
        </div>
      </div>
      <div class="col-md-12">
        <div class="form-floating">
          <textarea class="form-control" placeholder="Leave a message
            here" id="floatingTextarea2" formControlName="message" ></textarea>
          <label for="floatingTextarea2">Message</label>
          <app-error-msg [groupName]="contactFormGroup" controlName="message" customErrorMessage="Please enter your message of at least 5 characters"></app-error-msg>
          <span class="invalid-message">Please enter your message of at least 5 characters</span>
        </div>
      </div>
      <div class="col-md-12 d-flex justify-content-end ">
        <button class="product-price__btn btn btn-primary w-25">
          Send
        </button>
      </div>
    </div>
  </form>
</div>