@import '../../../../assets/scss/variables.scss';
.contact{
    padding: 30px;
    border-radius: 4px;
    background-color: $color-white;
    @include max-screen($mobile){
        padding: 0;
    }
}