
<div class="contact">
  <h3>Contact Us</h3>
  <form class="mt-md-4 mt-3">
    <div class="row">
      <div class="col-md-6">
        <div class="form-floating">
          <input type="text" formControlName="name" class="form-control"
            id="floatingInput"
            placeholder="enter your name">
          <label for="floatingInput">Name</label>
          <span class="invalid-feedback">Please enter your name </span>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-floating">
          <input type="text" formControlName="postCode" class="form-control"
            id="floatingInput"
            placeholder="name@example.com">
          <label for="floatingInput">Subject</label>
        </div>
      </div>
      <div class="col-md-12">
        <div class="form-floating">
          <textarea class="form-control" placeholder="Leave a message
            here" id="floatingTextarea2"></textarea>
          <label for="floatingTextarea2">Message</label>
        </div>
      </div>
      <div class="col-md-12 d-flex justify-content-end ">
        <button class="product-price__btn btn btn-primary w-25">
          Send
        </button>
      </div>
    </div>
  </form>
</div>