<div class="d-flex flex-wrap align-items-center configHeader">
  <app-sidebar></app-sidebar>
  <a class="configHeader__menu d-flex align-items-center"><img src="assets/images/menu.png" alt="hamburger"> Menu</a>
  <!-- <a [routerLink]="['/']" class="configHeader__back d-flex align-items-center"><img src="assets/images/back.svg"
      alt="back">WorldTraveller-S</a> -->

    <div class="configHeader__language" (click)="languageToggle()">
        <span>Landkeuze</span>
        <img src="assets/images/flag-uk.png" alt="" />
    </div>

  <ul class="nav nav-tabs align-items-center" id="myTab" role="tablist">
    <ng-container *ngFor="let tab of headerTab; let i = index">
      <li class="nav-item" role="presentation">
        <button class="nav-link" [disabled]="!currentStepConfig?.[tab.id]" (click)="selectTab(i)"
          [ngClass]="{'is-active': tab.selected, 'is-previous': currentStepConfig?.[tab.id]}" [id]="tab.id" data-bs-toggle="tab" [attr.data-bs-target]="tab.target"
          type="button" role="tab" [attr.aria-controls]="tab.controls" [attr.aria-selected]="tab.selected"> {{i+1}}.
          {{tab.title}}</button>
      </li>
    </ng-container>
  </ul>
</div>

<app-language-selector [activeClass]="dropDownStatus" (close)='closeModal($event)'>
</app-language-selector>
