
<div class="delivery-form">
    <h3>Gegevens</h3>
    <form class="mt-md-4 mt-3">
        <div class="row">
            <div class="col-md-5">
                <div class="form-floating">
                    <input type="text" class="form-control" id="floatingInput"
                        placeholder="name@example.com">
                    <label for="floatingInput">Voornaam<span>*</span></label>
                    <span class="invalid-feedback">Please add error msg </span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-floating">
                    <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput">Tussenvoegsel</label>
                    <span class="invalid-feedback">Please add error msg </span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-floating">
                    <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput">Achternaam<span>*</span></label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 col-6">
                <div class="form-floating">
                    <input type="text" class="form-control" id="floatingInput"
                        placeholder="name@example.com">
                    <label for="floatingInput">Postcode<span>*</span></label>
                    <span class="invalid-feedback">Please add error msg </span>
                </div>
            </div>
            <div class="col-md-3 col-6">
                <div class="form-floating">
                    <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput">Huisnr</label>
                    <span class="invalid-feedback">Please add error msg </span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-floating">
                    <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput">Straatnaam</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-floating">
                    <select class="form-select" id="floatingSelect"
                        aria-label="Floating label select example">
                        <option selected>Open this select menu</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                    <label for="floatingSelect">Land<span>*</span></label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-floating suffix">
                    <input type="text" class="form-control" id="floatingInput"
                        placeholder="name@example.com">
                    <label for="floatingInput">name@email.com<span>*</span></label>
                    <img src="/assets/images/attherate.svg" alt="@" title="@">
                    <span class="invalid-feedback">Please add error msg </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-floating suffix">
                    <input type="text" class="form-control" id="floatingInput"
                        placeholder="name@example.com">
                    <label for="floatingInput">+31-XXXXXXX<span>*</span></label>
                    <img src="/assets/images/phone.svg" alt="phone"
                        title="phone">
                    <span class="invalid-feedback">Please add error msg </span>
                </div>
            </div>
        </div>
        <div class="delivery-form__tabs">
            <h3>Keuze verzending</h3>
            <ul class="nav nav-tabs row mt-4" id="myTabModal2" role="tablist">
                <li class="nav-item col-6" role="presentation">
                    <button class="nav-link d-flex justify-content-between
                        active"
                        id="Thuisbezorgen" data-bs-toggle="tab"
                        data-bs-target="#nav-Thuisbezorgen" type="button"
                        role="tab"
                        aria-controls="Thuisbezorgen"
                        aria-selected="true">
                        <span>Thuisbezorgen</span>
                        <img src="/assets/images/home-blue.svg" alt="home"
                            title="home">
                        <img src="/assets/images/home.svg" alt="home"
                            title="home">
                    </button>
                </li>
                <li class="nav-item col-6" role="presentation">
                    <button class="nav-link d-flex justify-content-between"
                        id="Afhalen" data-bs-toggle="tab"
                        data-bs-target="#nav-Afhalen" type="button" role="tab"
                        aria-controls="Afhalen" aria-selected="false">
                        <span>Afhalen bij dealer</span>
                        <img src="/assets/images/pin-blue.svg" alt="pin"
                            title="pin">
                        <img src="/assets/images/pin.svg" alt="pin" title="pin">
                    </button>
                </li>

            </ul>
            <div class="tab-content" id="myTabContent2">
                <div class="tab-pane fade show active" id="nav-Thuisbezorgen"
                    role="tabpanel"
                    aria-labelledby="nav-Thuisbezorgen">
                    <div class="delivery-form__address">
                        <h3>Bezorgadres</h3>
                        <address class="mt-4 ">
                            <h6>Op adres</h6>
                            <p>John Doe</p>
                            <p>Streetname 45</p>
                            <p>1234AB Rotterdam</p>
                            <p>Nederland</p>
                        </address>
                        <div class="delivery-form__address-btn">
                            <button class="btn btn-outline w-100">
                                <span>Ander bezorgadres</span>
                                <img class="ms-2" src="/assets/images/arrow-right.svg" alt="pin" title="pin">
                            </button>
                        </div>
                    </div>

                    <div class="delivery-form__payment">
                        <h3>Betaalmethode</h3>
                        <div class="delivery-form__payment-form">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="payment-option" id="flexRadioDefault1">
                                <label class="form-check-label" for="flexRadioDefault1" role="button"> Creditcard <small>(gratis)</small></label>
                                <div class="delivery-form__payment-option">
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control" id="floatingInput"  placeholder="name@example.com">
                                        <label for="floatingInput">Naam op kaart</label>
                                        <span class="invalid-feedback">Please add error msg </span>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com">
                                        <label for="floatingInput">Creditcardnummer</label>
                                        <span class="invalid-feedback">Please add error msg </span>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="form-floating mb-3">
                                                <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com">
                                                <label for="floatingInput">Geldig tot</label>
                                                <span class="invalid-feedback">Please add error msg </span>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-floating suffix mb-3">
                                                <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com">
                                                <label for="floatingInput">CVC/CVV</label>
                                                <img src="/assets/images/information.svg" alt="information" title="information">
                                                <span class="invalid-feedback">Please add error msg </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="payment-option" id="flexRadioDefault12">
                                <label class="form-check-label" for="flexRadioDefault12" role="button">
                                    IDEAL <small>(gratis)</small>
                                </label>
                                <div class="delivery-form__payment-option">
                                    <div class="form-floating">
                                        <select class="form-select" id="floatingSelect2">
                                            <option value="1">Kies bank</option>
                                            <option value="2">Kies bank</option>
                                            <option value="3">Kies bank</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="payment-option" id="flexRadioDefault13">
                                <label class="form-check-label" for="flexRadioDefault13" role="button">PayPal <small>(gratis)</small></label>
                                <div class="delivery-form__payment-option">@content</div>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="payment-option" id="flexRadioDefault4">
                                <label class="form-check-label" for="flexRadioDefault4" role="button">Klarna <small>(gratis)</small></label>
                                <div class="delivery-form__payment-option">@content</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-Afhalen" role="tabpanel"
                    aria-labelledby="nav-Afhalen">
                    <h3>Kies een dealer bij u in de buurt</h3>
                    <p class="pt-3 mb-4">Kies hieronder een Signature dealer bij
                        u
                        in de buurt. Samen met deze dealer kunt u
                        uw ontworpen fiets nog een keer dornemen en definitief
                        maken. Als alle onderdelen voorradig zijn streeft
                        KOGA ernaar om de door u samengestelde fiets binnen 12
                        weken
                        bij uw dealer te bezorgen. </p>
                    <div class="row pt-3">
                        <div class="col-md-5">
                            <div class="form-floating">
                                <select class="form-select" id="floatingSelect"
                                    aria-label="Floating label select example">
                                    <option selected>Open this select menu</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                                <label for="floatingSelect">Land</label>
                            </div>
                            <div class="form-floating">
                                <input type="text" class="form-control"
                                    id="floatingInput"
                                    placeholder="name@example.com">
                                <label for="floatingInput">Plaats</label>
                                <span class="invalid-feedback">Please add error
                                    msg
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="mt-md-3 mt-2">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d9555208.856367579!2d-13.426898924564524!3d54.21876917973951!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x25a3b1142c791a9%3A0xc4f8a0433288257a!2sUnited%20Kingdom!5e0!3m2!1sen!2sin!4v1668749638266!5m2!1sen!2sin"
                            width="100%" height="450" style="border:0;"
                            allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade">
                        </iframe>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>