<app-header></app-header>

<div class="delivery-data">
    <div class="container">
        <h1>Verzending</h1>

        <div class="delivery-data__inner d-flex flex-wrap">
            <div class="delivery-data__content d-flex">
                <app-delivery-form class="w-100"></app-delivery-form>
            </div>
            <div class="delivery-data__info">
                <app-product-price-info [description]="true"></app-product-price-info>
            </div>
        </div>
    </div>
</div>
