@import "../../../assets/scss/variables.scss";
.delivery-data {
    padding-top: 18px;
    margin-bottom: 40px;
    @include max-screen($desktop){
        padding-top: 0;
    }
    @include max-screen($mobile) {
        margin-bottom: 30px;
    }
    h1 {
        margin-bottom: 22px;
    }
    &__inner {
        padding: 38px 40px;
        background-color: $color-white;
        @include max-screen($tablet) {
            padding: 30px 20px;
        }
        @include max-screen($mobile) {
            padding: 25px 15px;
        }
    }
    &__content {
        margin-top: -8px;
        width: calc(100% - 390px);
        @include max-screen($desktop){
            width: calc(100% - 350px);
        }
        @include max-screen($tablet) {
            width: 100%;
            margin-top: 0;
        }
    }
    &__info {
        width: 390px;
        padding-left: 44px;
        @include max-screen($desktop){
            width: 350px;
            padding-left: 20px;
        }
        @include max-screen($tablet) {
            width: 100%;
            margin-top: 30px;
            padding-left: 0;
        }
    }
}
