@import "../../../../assets/scss/variables.scss";
.configFooter {
    padding: 15px 24px;
    background-color: $color-white;
    @include max-screen($desktop) {
        padding: 15px;
    }
    &__right {
        color: $color-secondary;
        @include max-screen($mobile) {
            width: 100%;
            justify-content: space-between;
        }
        &-price {
            margin-right: 35px;
            @include max-screen($desktop){
                margin-right: 15px;
            }
            @include max-screen($smobile) {
                margin-right: 0;
            }
            h5 {
                margin: 0;
                font-size: 12px;
                @include max-screen($mobile) {
                    font-size: 8px;
                }
                & + h5 {
                    margin-left: 16px;
                    @include max-screen($smobile) {
                        margin-left: 10px;
                    }
                }
                strong {
                    font-size: 167%;
                    font-weight: 700;
                    padding-left: 5px;
                    @include max-screen($mobile) {
                        font-size: 14px;
                        padding-left: 3px;
                    }
                }
                cite {
                    font-weight: 700;
                    font-size: 100%;
                    font-style: normal;
                }
                span {
                    &.is-euro {
                        @include max-screen($mobile) {
                            font-size: 14px;
                            font-weight: 700;
                        }
                    }
                }
            }
        }
        &-button {
            .btn-outline {
                @include max-screen($mobile) {
                    width: 40px;
                    padding: 5px 10px;
                }
            }
            .btn {
                @include max-screen($mobile) {
                    font-size: 10px;                    
                }
            }
        }
    }
    &__save {
        margin: 0 28px 0 auto;
        @include max-screen($desktop){
            margin: 0;
            right: 10px;
            bottom: 90px;
            position: fixed;           
        }
        @include max-screen($mobile){
            bottom: 80px;
        }
        &-holder {
            @include max-screen($desktop){
                width: 35px;
                height: 35px;
                padding: 8px;
                display: flex;
                cursor: pointer;
                border-radius: 50%;
                align-items: center;
                justify-content: center;    
                background-color: $color-white;
                box-shadow: 0 0 15px rgba($color-black, 0.15);
            }
            &.active {
                @include max-screen($desktop){
                    padding: 10px;
                }
            }
        }
        &-wrap {
            @include max-screen($desktop){
                right: 0;
                opacity: 0;
                width: 190px;
                border-radius: 2px;
                visibility: hidden;
                position: absolute;
                transition: 0.3s ease-in-out;
                bottom: calc(100% + 12px);
                background-color: $color-white;
                box-shadow: 0 0 10px rgba($color-black, 0.1);
            }
            &::after {
                top: 100%;
                content: '';
                right: 8px;
                position: absolute;
                border: 10px solid transparent;
                border-top-color: $color-white;
            }
            &.active {
                opacity: 1;
                visibility: visible;
            }
        }
        &-item {
            cursor: pointer;
            font-weight: 500;
            color: $color-secondary;
            @include max-screen($desktop){
                padding: 8px 10px;
                border-top: 1px solid rgba($color-black, 0.05);
            }
            img {
                width: 20px;
                margin-right: 5px;
                @include max-screen($desktop){
                    width: 15px;
                }
            }
            span {
                @include max-screen($desktop){
                    font-size: 12px;
                }
            }
        }
    }
   
}
