<div class="home-delivery">
<div class="home-delivery__address"> 
  <h3>Bezorgadres</h3>
  <address class="mt-4 ">
    <h6>Op adres</h6>
    <p>John Doe</p>
    <p>Streetname 45</p>
    <p>1234AB Rotterdam</p>
    <p>Nederland</p>
  </address>
  <div class="home-delivery__btn">
    <button class="btn btn-outline w-100">
      <span>Ander bezorgadres</span>
      <img class="ms-2" src="/assets/images/arrow-right.svg" alt="pin" title="pin">
    </button>
  </div>
</div>

<div class="home-delivery__payment">
  <h3>Betaalmethode</h3>
  <div class="home-delivery__payment-form">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="payment-option" id="flexRadioDefault1">
      <label class="form-check-label" for="flexRadioDefault1" role="button"> Creditcard <small>(gratis)</small></label>
      <div class="home-delivery__payment-option">
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com">
          <label for="floatingInput">Naam op kaart</label>
          <span class="invalid-feedback">Please add error msg </span>
        </div>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com">
          <label for="floatingInput">Creditcardnummer</label>
          <span class="invalid-feedback">Please add error msg </span>
        </div>
        <div class="row">
          <div class="col-6">
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com">
              <label for="floatingInput">Geldig tot</label>
              <span class="invalid-feedback">Please add error msg </span>
            </div>
          </div>
          <div class="col-6">
            <div class="form-floating suffix mb-3">
              <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com">
              <label for="floatingInput">CVC/CVV</label>
              <img src="/assets/images/information.svg" alt="information" title="information">
              <span class="invalid-feedback">Please add error msg </span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="form-check">
      <input class="form-check-input" type="radio" name="payment-option" id="flexRadioDefault12">
      <label class="form-check-label" for="flexRadioDefault12" role="button">
        IDEAL <small>(gratis)</small>
      </label>
      <div class="home-delivery__payment-option">
        <div class="form-floating">
          <select class="form-select" id="floatingSelect2">
            <option value="1">Kies bank</option>
            <option value="2">Kies bank</option>
            <option value="3">Kies bank</option>
          </select>
        </div>
      </div>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="payment-option" id="flexRadioDefault13">
      <label class="form-check-label" for="flexRadioDefault13" role="button">PayPal <small>(gratis)</small></label>
      <div class="home-delivery__payment-option">@content</div>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="payment-option" id="flexRadioDefault4">
      <label class="form-check-label" for="flexRadioDefault4" role="button">Klarna <small>(gratis)</small></label>
      <div class="home-delivery__payment-option">@content</div>
    </div>
  </div>
</div>
</div>
