@import "../../../assets/scss/variables.scss";
.languageModal {
    top: 0;
    left: 0;
    z-index: 9;
    opacity: 0;
    width: 100%;
    height: 100%;
    display: block;
    position: fixed;
    overflow-y: auto;
    text-align: center;
    visibility: hidden;
    mix-blend-mode: normal;
    padding: 66px 40px 20px;
    backdrop-filter: blur(5px);
    transition: 0.3s ease-in-out;
    background-color: rgba($color-secondary, 0.9);
    @include max-screen($tablet-lg) {
        padding: 15px;
    }
    @include max-screen($mobile) {
        padding: 0;
        overflow: hidden;
    }
    &__logo {
        @include max-screen($mobile){
            margin-bottom: 30px;
        }
    }
    &__wrapper {
        @include max-screen($mobile) {
            left: 0;
            bottom: 0;
            top: auto;
            width: 100%;
            padding: 20px 0 0;
            position: fixed;
            overflow-y: auto;
            height: calc(100% - 82px);
            transition: 0.3s ease-in-out;
            transform: translateY(100px);
            background-color: $color-white;
        }
        &-back {
            padding: 0 40px;
            @include max-screen($tablet-lg) {
                padding: 0 15px 20px;
            }
            img {
                @include max-screen($mobile) {
                    width: 14px;
                    height: 10px;
                }
            }
            span {
                font-weight: 500;
                font-size: 16px;
                color: $color-white;
                @include max-screen($mobile) {
                    color: $color-darkBlue;
                    font-size: 14px;
                    font-weight: 400;
                }
            }
        }

        h2 {
            color: $color-white;
            font-size: 40px;
            margin: 40px 0 0;
            padding: 0 80px;
            @include max-screen($tablet-lg) {
                padding: 0;
                margin-top: 15px;
                font-size: 22px;
            }
            @include max-screen($mobile) {
                color: $color-darkBlue;
                font-weight: 500;
            }
        }

        .nav-tabs {
            padding: 0 60px;
            margin-top: 49px;
            justify-content: center;
            position: relative;
            border: 0 !important;
            @include max-screen($tablet-lg) {
                padding: 0px;
                margin-top: 15px;
            }
            @include max-screen($mobile) {
                flex-wrap: nowrap;
                justify-content: flex-start;
                margin-left: 15px;
                margin-bottom: 8px;
                min-width: fit-content;
                border-bottom: 2px solid rgba($color-darkBlue, 0.2) !important;
            }
            &:after {
                content: "";
                width: 100%;
                height: 2px;
                background-color: rgba($color-white, 0.5);
                bottom: 0;
                left: 0;
                position: absolute;
                @include max-screen($mobile) {
                    display: none;
                }
            }
            .nav-link {
                font-weight: 400;
                font-size: 20px;
                color: $color-white;
                background-color: transparent;
                border: 0;
                margin: 0 20px;
                padding: 8px 0;
                position: relative;
                @include max-screen($tablet-lg) {
                    font-size: 16px;
                }
                @include max-screen($mobile) {
                    color: $color-darkBlue;
                    white-space: nowrap;
                    margin: 0;
                    padding: 3px 15px;
                }
                &.active {
                    font-weight: 700;
                    &:after {
                        content: "";
                        width: 100%;
                        height: 2px;
                        background-color: $color-white;
                        bottom: 0px;
                        left: 0;
                        position: absolute;
                        @include max-screen($mobile) {
                            bottom: -2px;
                            background-color: $color-darkBlue;
                        }
                    }
                }
            }
        }

        .tab-content {
            padding: 52px 15px 0;
            max-width: 1130px;
            margin: 0 auto;
            @include max-screen($tablet-lg) {
                padding: 20px 0;
            }
            @include max-screen($mobile){
                overflow-y: auto;
                padding: 0;
                height: calc(100vh - 303px);
            }

            .flag {
                width: 156px;
                margin-right: 32px;
                margin-bottom: 18px;
                text-align: left;
                line-height: 1.1;
                @include max-screen($desktop-large) {
                    width: calc(20% - 32px);
                    margin: 0 15px 15px;
                }

                @include max-screen($mobile) {
                    width: 100%;
                    padding: 15px;
                    margin: 0;
                }

                span {
                    color: $color-white;
                    font-size: 20px;
                    font-weight: 400;

                    @include max-screen($mobile) {
                        color: $color-darkBlue;
                        font-size: 16px;
                    }
                }

                &.active {
                    border: 2px solid $color-white;
                    padding: 0 0 0 2px;

                    @include max-screen($mobile) {
                        background-color: rgba($color-darkBlue, 0.2);
                        padding: 15px;
                        border: 0;
                    }
                }
                &.notActive {
                    opacity: 0.5;
                }
            }
        }
        &-levelTwo {
            margin-top: 19px !important;
            @include max-screen($mobile) {
                justify-content: center !important;
                margin-top: 0px !important;
            }
        }
        &-flags {
            margin-right: -32px;

            @include max-screen($desktop-large) {
                margin-right: 0;
            }
        }
        &-child {
            @include max-screen($mobile){
                display: none;
            }
            .nav-tabs {
                @include max-screen($mobile){
                    overflow: hidden;
                    padding: 0;
                    margin: 0 auto !important;
                    width: calc(100% - 30px);
                }
                li {
                    strong {
                        @include max-screen($mobile){
                            white-space: normal;
                        }
                    }
                }
            }
            .tab-content {
                @include max-screen($mobile){
                    height: calc(100vh - 350px);
                }
            }
            &.active {
                @include max-screen($mobile){
                    display: block;
                }
            }    
        }
    }
    &__next {
        margin-top: auto;
        @include max-screen($mobile) {
            padding: 15px;
            display: none;
        }
        .btn {
            @include max-screen($mobile) {
                width: 100%;
                color: $color-white;
                background-color: $color-primary;
                &:hover {
                    background-color: $color-secondary;
                }
            }
        }
        &.active {
            @include max-screen($mobile){
                display: block;
            }
        }
    }
    &__scroll {
        @include max-screen($mobile){
            position: relative;
            overflow-x: auto;
        }
        &::-webkit-scrollbar {
            display: none;
        }
        ul {
            @include min-screen($mobile){
                width: 100%;
            }
        }
    }
    &.active {
        opacity: 1;
        visibility: visible;
        .languageModal__wrapper {
            @include max-screen($mobile){
                transform: translateY(0);
            }
        }
    }
}
