<!--  language modal-->
<div class="languageModal d-flex flex-wrap" [ngClass]="{'active': activeClass}">
    <div class="languageModal__wrapper d-flex flex-column w-100">
        <div class="languageModal__inner w-100">
            <div class="d-flex justify-content-between align-items-center languageModal__wrapper-back">
                <span class="d-flex d-md-none align-items-center " role="button" (click)="clickToggle()" [ngClass]="{'invisible': !status}">
                    <img src="/assets/images/arrow-back-white.svg" role="button" alt="back" title="back" class="d-none d-md-block">
                    <img src="/assets/images/back.svg" role="button" alt="back" title="back" class="d-md-none">
                    <span class="ms-2">Ga terug</span>
                </span>
                <span class="d-none d-md-flex align-items-center " role="button" (click)="closeModal()">
                    <img src="/assets/images/arrow-back-white.svg" role="button" alt="back" title="back" class="d-none d-md-block">
                    <img src="/assets/images/back.svg" role="button" alt="back" title="back" class="d-md-none">
                    <span class="ms-2">Ga terug</span>
                </span>
                <img src="/assets/images/cross-blue.svg" role="button" alt="close" (click)="closeModal()">
            </div>

            <!---logo componet need to be seperate-->
            <div class="logo d-none d-md-block">
                <img src="/assets/images/logo-signature.svg" alt="logo"/>
            </div>
            <div class="logo d-md-none">
                <img src="/assets/images/logo.svg" alt="logo"/>
            </div>


            <h2 [ngClass]="{'d-none d-md-block': status}">Selecteer uw land en taalkeuze</h2>
            
            <ul [ngClass]="{'d-none d-md-block': status}" class="nav nav-tabs" id="myTabModal" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="Afrika" data-bs-toggle="tab" data-bs-target="#nav-Afrika" type="button" role="tab" aria-controls="Afrika" aria-selected="true">Afrika</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="Asia" data-bs-toggle="tab" data-bs-target="#nav-Asia" type="button" role="tab" aria-controls="Asia" aria-selected="false">Asia</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="Asia" data-bs-toggle="tab" data-bs-target="#nav-Asia" type="button" role="tab" aria-controls="Asia" aria-selected="false">Amerika</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="Asia" data-bs-toggle="tab" data-bs-target="#nav-Asia" type="button" role="tab" aria-controls="Asia" aria-selected="false">Europe</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="Asia" data-bs-toggle="tab" data-bs-target="#nav-Asia" type="button" role="tab" aria-controls="Asia" aria-selected="false">Ocenia</button>
                </li>
            </ul>
            <div [ngClass]="{'d-none d-md-block': status}" class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="nav-Afrika" role="tabpanel" aria-labelledby="nav-Afrika">
                    <div class="flex-wrap d-flex align-items-center languageModal__wrapper-flags">
                        <div (click)="clickToggle()" class="d-flex align-items-center flag notActive" *ngFor="let _ of [].constructor(20)" role="button">
                            <img src="/assets/images/angola.svg" alt="Angola" title="Angola" class="me-2">
                            <span>Angola</span>
                        </div>
                        <div class="d-flex align-items-center flag active" role="button">
                            <img src="/assets/images/angola.svg" alt="Angola" title="Angola" class="me-2">
                            <span>Angola</span>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-Asia" role="tabpanel" aria-labelledby="nav-Asia">
                    <div class="flex-wrap d-flex align-items-center languageModal__wrapper-flags">
                        <div class="d-flex align-items-center flag" *ngFor="let _ of [].constructor(10)" role="button">
                            <img src="/assets/images/angola.svg" alt="Angola" class="me-2">
                            <span>Angola</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="languageModal__wrapper-child" [ngClass]="{'active': status}">
                <ul class="nav nav-tabs languageModal__wrapper-levelTwo ms-0">
                    <li>
                        <button class="nav-link"><strong>Angola</strong></button>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="flex-wrap d-flex align-items-center languageModal__wrapper-flags justify-content-center">
                        <div class="d-flex align-items-center flag notActive" *ngFor="let _ of [].constructor(4)" role="button">
                            <span>Deutsch</span>
                        </div>
                        <div class="d-flex align-items-center flag active" role="button">
                            <span>English</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-md-flex justify-content-end languageModal__next" [ngClass]="{'active': status}">
            <button class="btn btn-white">Bevestig en start</button>
        </div>
    </div>
</div>
