<div class="bike-info">
  <h1>Maat</h1>
  <ngb-accordion #acc="ngbAccordion" [activeIds]="activeIds">
    <ng-container>
      <ngb-panel *ngFor="let tab of expansionList; let i = index;" [id]="(i).toString()" [title]="tab.title">
        <ng-template ngbPanelContent>
          <ng-container [ngSwitch]="tab.ref">
            <ng-container *ngSwitchCase="'sizeRef'">
              <app-frame-size></app-frame-size>
            </ng-container>
            <ng-container *ngSwitchCase="'signatureRef'">
              <app-signature></app-signature>
            </ng-container>
          </ng-container>
        </ng-template>
      </ngb-panel>
    </ng-container>
  </ngb-accordion>
</div>
<ng-template></ng-template>
<app-modal [activeClass]="openModal" (close)="closeModal()" headerTitle="Meer informatie Frame">
  <ng-container body>
    <app-frame-info></app-frame-info>
  </ng-container>
</app-modal>
