@import "../../../assets/scss/variables.scss";
.product-price {
    h5 {
        font-weight: 700;
        padding-bottom: 5px;
        border-bottom: 1px solid $color-disabled-dark;
        @include max-screen($tablet) {
            border: 0;
        }
    }
    p,
    strong {
        color: $color-secondary;
        margin-bottom: 8px;
    }
    aside {
        display: flex;
        align-items: center;
        img {
            width: 14px;
            cursor: pointer;
            margin: -2px 0 0 3px;                        
        }
    }
    &__price {
        padding: 88px 0 9px;
        margin: 17px 0 24px;
        border-bottom: 1px solid $color-disabled-dark;
        border-top: 1px solid $color-disabled-dark;
        @include max-screen($tablet) {
            margin-bottom: 15px;
            padding: 19px 0 13px;
        }
        strong {
            margin: 0;
        }
        > div {
            strong {
                @include min-screen($tablet){
                    font-size: 20px;
                }
            }
        }
    }
    &__note {
        margin-bottom: 24px;
        a {
            text-decoration: underline;
        }
    }
    &__social {
        padding: 5px 0 17px;
        margin-bottom: 14px;
        border-bottom: 1px solid $color-disabled-dark;
        li {
            cursor: pointer;
        }
        img {
            width: 19px;
        }
        span {
            font-size: 14px;
        }
    }
}
    