<div class="signature">
  <p>Personalize your Koga even further by adding your Signature to the frame</p>

  <div class="form-floating">
    <input type="text" class="form-control" id="floatingInput" placeholder="Your Signature">
    <label for="floatingInput">Your Signature</label>
  </div>

  <div class="signature__font">
    <h5>Font</h5>
    <ng-container *ngFor="let item of signatureConfig">
      <div class="form-check my-3">
        <input class="form-check-input" [value]="item.checked" type="radio" name="signature" [id]="item.id">
        <label class="form-check-label w-100" [ngClass]="{'is-disabled': item?.isDisabled, 'active': item.checked}"
          [attr.for]="item.id" role="button" (click)="select(item)">
          <img *ngIf="item?.img; else textRef" [src]="item?.img" [alt]="item?.name" />
          <ng-template #textRef>
            {{item?.label}}
          </ng-template>
        </label>
      </div>
    </ng-container>
  </div>
</div>
