@import '../../../../assets/scss/variables.scss';
.signature {
    img {
        max-height: 15px;
        @include max-screen($mobile){
            max-height: 12px;
        }
    }
    label {
        font-size: 14px;
        &::before {
            top: -1px;
        }
        &::after {
            top: 4px;
            @include max-screen($tablet){
                top: 3px;
            }
        }
    }
}