<div class="bike-info">
  <h1>Frame</h1>
  <ngb-accordion #acc="ngbAccordion" [activeIds]="activeIds">
    <ng-container *ngFor="let frame of frames; let i = index;">
      <ngb-panel [title]="frame?.title || ''" [id]="(i).toString()">
        <ng-template ngbPanelContent>
          <ng-container [ngSwitch]="frame.ref">
            <ng-container *ngSwitchCase="'framekleurRef'">
              <p>t. Urna massa ut sed nibh quis ultrices quis. S morbi sceleri... <a (click)="toggleModal($event)">meer
                  informatie</a>
              </p>
              <app-select *ngIf="selectedFrame?.showColorOptions" label='Color' [options]="colorOptions"
                [fgroup]="colorFormGroup" controlName="frameColor">
              </app-select>
              <div class="row">
                <ng-container *ngFor="let card of AppCards">
                  <div class="col-6 d-flex mb-3">
                    <app-card-part class="d-flex w-100" (click)="selectCard(card)" [checked]="card.checked"
                      [isDisabled]="card.isDisabled" [caption]="card.caption" [infoTitle]="card.infoTitle">
                    </app-card-part>
                  </div>
                </ng-container>

              </div>

              <div class="bike-info__color">
                <p>Maak je Koga nog persoonlijker met een zelf gekozen kleur</p>

                <div class="bike-info__color-picker d-flex flex-wrap">
                  <span [style.background]="color"></span>
                  <input #colorPicker [(colorPicker)]="color" placeholder="{{color}}" [cpDisabled]="false"
                    [cpPosition]="'bottom'" [cpToggle]="false" [cpDialogDisplay]="'inline'" />
                </div>
              </div>
            </ng-container>
            <ng-container *ngSwitchCase="'frametypeRef'">
              <div class="row">
                <ng-container *ngFor="let card of AppCards">
                  <div class="col-6 d-flex mb-3">
                    <app-card-part class="d-flex w-100" (click)="selectCard(card)" [isDisabled]="card.isDisabled" [caption]="card.caption"
                      [infoTitle]="card.infoTitle"></app-card-part>
                  </div>
                </ng-container>
              </div>
            </ng-container>
            <ng-container *ngSwitchCase="'vorkRef'">
              <p>t. Urna massa ut sed nibh quis ultrices quis. S morbi sceleri... <a (click)="toggleModal($event)">meer
                  informatie</a>
              </p>
            </ng-container>
          </ng-container>
        </ng-template>
      </ngb-panel>
    </ng-container>
  </ngb-accordion>
</div>

<ng-template #framekleurRef>
  framekleurRef
  <input #colorPicker [(colorPicker)]="color" [cpDisabled]="false" [cpPosition]="'bottom'" [cpToggle]="false"
    [cpDialogDisplay]="'inline'" [style.background]="color" />
</ng-template>
<ng-template #frametypeRef>
  frametypeRef
</ng-template>
<ng-template #vorkRef>
  vorkRef
</ng-template>

<app-modal [activeClass]="openModal" (close)="closeModal()" headerTitle="Meer informatie Frame">
  <ng-container body>
    <app-frame-info></app-frame-info>
  </ng-container>
</app-modal>
