@import "../../../../assets/scss/variables.scss";
.frame {
    width: 100%;
    overflow-y: auto;
    padding: 0 90px 66px;
    height: calc(100vh - 152px);
    background-color: $color-white;
    @include max-screen($desktop){
        padding: 0 40px 40px;
        height: calc(100vh - 182px);
    }
    @include max-screen($tablet-lg){
        padding: 30px 15px;
        height: auto;
    }
    &::-webkit-scrollbar {
        width: 0;
    }
    h1{
        top: 0;
        z-index: 5;
        position: sticky;
        margin: 0 -66px 34px;
        padding: 66px 66px 10px;
        background-color: $color-white;
        @include max-screen($desktop){
            margin: 0 -40px 34px;
            padding: 40px 40px 10px;
        }
        @include max-screen($tablet-lg){
            margin: 0;
            padding: 0 0 20px;
            position: static;
        }
    }
    &__color {
        padding: 16px 0 24px;
        border-top: 1px solid rgba($color-darkBlue, 0.2);
        &-picker {
            position: relative;
            span {
                width: 40px;
                height: 40px;
                display: block;
                margin-right: 8px;
                border: 1px solid $color-disabled-dark;
            }
            input {
                padding: 8px;
                height: 40px;
                outline: none;
                cursor: pointer;
                font-size: 16px;
                appearance: none;
                color: $color-secondary;
                width: calc(100% - 48px);
                text-transform: uppercase;
                border: 1px solid $color-disabled-dark;
                &::placeholder {
                    opacity: 1;
                    color: $color-secondary;
                }
            }
        }
    }
    ::ng-deep .accordion {
        .accordion-item {
            border-radius: 0;
            border-left: 0;
            border-right: 0;
            border-color: rgba($color-darkBlue, 0.2);
            button {
                border: 0;
                outline: 0;
                cursor: pointer;
                font-size: 20px;
                box-shadow: none;
                line-height: 1.2;
                font-weight: 700;
                position: relative;
                color: $color-darkBlue;
                padding: 16px 20px 16px 0;
                background-color: transparent;
                @include max-screen($tablet-lg){
                    font-size: 16px;
                }
                @include max-screen($mobile){
                    font-size: 14px;
                }
                &::after {
                    top: 22px;
                    right: 2px;
                    width: 11px;
                    height: 11px;
                    position: absolute;
                    @include background-image(minus, svg, center, no-repeat, 100%);
                }
                &.collapsed {
                    &::after {
                        @include background-image(plus, svg, center, no-repeat, 100%);
                    }                    
                }
            }
            .accordion-body {
                padding: 0;
                > p {
                    line-height: 1.2;
                    margin-bottom: 30px;
                    font-family: $font-family-secondary;
                }
                a {
                    font-weight: 500;
                    text-decoration: underline;
                }
            }
        }
    }
}

/**modal*/
.informationFrame{
    display: none;
    position: fixed;
    background-color: rgba($color-secondary, 0.9);
    width: 100%;
    height: 100%;
    left: 0;
    top:0;
    z-index: 99;
    padding: 72px 135px 0;
    overflow-y: auto;
    mix-blend-mode: normal;
    backdrop-filter: blur(5px);
    @include max-screen($tablet){
        padding:20px 50px 0;
    }
    @include max-screen($mobile){
        padding:15px;
    }
    &__cross{
        img{
            max-width: 36px;
            @include max-screen($mobile){
                max-width: 18px;
            }
        }
        span{
            font-weight: 500;
            font-size: 16px;
            color: $color-white;
        }
    }
    &__wrapper{
        max-width: 1015px;
        margin: 0 auto;
        padding: 44px 15px;
        @include max-screen($tablet){
            padding: 24px 15px;
        }
        @include max-screen($mobile){
            padding: 0;
        }
        h2{
            color:$color-white;
            margin-bottom: 38px;
            padding: 0 80px;
            @include max-screen($tablet){
                padding: 0;
                margin-bottom: 24px;
            }
         
        }
        .logo{
            margin-bottom: 30px;
        }
        .nav-tabs {
            border-bottom: 2px solid rgba($color-white, 0.5);
            padding: 0 60px;
            @include max-screen($tablet){
                padding: 0px;
            }
            .nav-link{
                font-weight: 400;
                font-size: 20px;
                color: $color-white;
                background-color: transparent;
                border: 0;
                border-bottom: 2px solid transparent;
                margin: 0 20px -2px;
                padding: 8px 0;
                @include max-screen($tablet){
                    font-size: 16px;
                }
                &.active{
                    font-weight: 700;
                    border-bottom: 2px solid $color-white;
                }
            }
            
        }
        .tab-content{
            padding: 24px 80px;
            @include max-screen($tablet){
                padding: 20px 0;
            }
            p{
                color: $color-white;
            }
        }
    }
    &.language{
        display: none;
        text-align: center;
        padding: 72px 45px 30px;
        .nav-tabs{
            justify-content: center;
        }
        .informationFrame__wrapper{
            max-width: 1360px;
            padding: 0;
        }
        .tab-content{
            padding-top: 46px;
        }
    }
}

.flag{
    margin: 10px 15px;
    width: 16.66%;
    img{
        width: 32px;
        height: 24px;
        object-fit: cover;
    }
    span{
        font-size: 20px;
        color: $color-white;
    }
    &.active{
        border: 2px solid $color-white;
    }
}