@import "../../../assets/scss/variables.scss";
.oversight {
    margin-bottom: 10px;
    h2 {
        margin-bottom: 24px;
        @include max-screen($mobile) {
            margin-bottom: 20px;
        }
    }
    &__box {
        background-color: $color-white;
        padding: 48px 40px 5px;
        @include max-screen($tablet-lg) {
            padding: 15px 15px 5px;
        }
        h5 {
            font-weight: 700;
            margin-bottom: 24px;
            padding-bottom: 14px;
            border-bottom: 1px solid $color-disabled-dark;
        }

        &-price {
            margin-bottom: 15px;

            @include max-screen($desktop-large) {
                width: 100%;
            }
        }
        &-list {
            margin: 0 -12px;
        }
        &-item {
            width: 33.3%;
            display: flex;
            padding: 0 12px;
            flex-direction: column;
            @include max-screen($desktop-large) {
                width: 50%;
                padding: 0 10px;
                margin-right: 0;
            }
        }
    }
}
