@import "../../../assets/scss/variables.scss";
.oversight {
    margin-bottom: 10px;
    h2 {
        margin-bottom: 24px;
        @include max-screen($mobile) {
            margin-bottom: 20px;
        }
    }
    &__box {
        width: 100%;
        background-color: $color-white;
        padding: 48px 40px 5px;
        @include max-screen($desktop-large){
            padding: 30px 20px 5px;
        }
        @include max-screen($tablet-lg) {
            padding: 15px 15px 5px;
        }
        h5 {
            font-weight: 700;
            margin-bottom: 24px;
            padding-bottom: 14px;
            border-bottom: 1px solid $color-disabled-dark;
        }

        &-price {
            width: 90px;
            margin-bottom: 15px;
            @include max-screen($desktop){
                width: 100%;
            }
        }
        &-wrap {
            width: calc(100% - 90px);
            @include max-screen($desktop){
                width: 100%;
            }
        }
        &-list {
            margin: 0 -12px;
        }
        &-item {
            width: 33.3%;
            display: flex;
            padding: 0 12px;
            @include max-screen($desktop-large) {
                padding: 0 10px;
                margin-right: 0;
            }
            @include max-screen($smobile){
                width: 50%;
            }
            app-product-card {
                width: 100%;
                display: flex;
            }
        }
    }
}
