<div class="bike-info">
  <h1>Verlichting</h1>
  <ngb-accordion #acc="ngbAccordion" [activeIds]="activeIds">
    <ng-container>
      <ngb-panel *ngFor="let tab of expansionList let i = index;" [id]="(i).toString()" [title]="tab.title">
        <ng-template ngbPanelContent>
          <p>t. Urna massa ut sed nibh quis ultrices quis. S morbi sceleri... <a (click)="toggleModal( $event )">meer
              informatie</a></p>

          <div class="row">
            <ng-container *ngFor="let card of AppCards">
              <div class="col-6 d-flex mb-3">
                <app-card-part class="d-flex w-100" (click)="selectCard(card)" [checked]="card.checked" [isDisabled]="card.isDisabled"
                  [caption]="card.caption" [infoTitle]="card.infoTitle"></app-card-part>
              </div>
            </ng-container>
          </div>
        </ng-template>
      </ngb-panel>
    </ng-container>
  </ngb-accordion>
</div>

<app-modal [activeClass]="openModal" (close)="closeModal()" headerTitle="Meer informatie Frame">
  <ng-container body>
    <app-frame-info></app-frame-info>
  </ng-container>
</app-modal>
