<!--  language modal-->
<div class="languageModal text-center d-flex flex-wrap w-100 h-100" [ngClass]="{'active': activeClass}">
  <div class="languageModal__wrapper d-flex flex-column w-100"  appClickOutside (clickOutside)="closeModal()" [allowClickOutside]="allowClickOutside">
    <div class="languageModal__inner w-100">
      <div class="d-flex justify-content-md-start justify-content-end align-items-center languageModal__wrapper-back">
        <span class="d-none d-md-flex align-items-center" role="button" (click)="closeModal()">
          <img src="/assets/images/arrow-back-white.svg" role="button" alt="back" title="back"
            class="d-none d-md-block">
          <img src="/assets/images/back.svg" role="button" alt="back" title="back" class="d-md-none">
          <span class="ms-2 text-white">Ga terug</span>
        </span>
        <img src="/assets/images/cross-blue.svg" role="button" alt="close" (click)="closeModal()">
      </div>

      <div class="languageModal__logo mb-4 d-none d-md-block">
        <img src="/assets/images/logo-signature.svg" alt="logo" />
      </div>
      <div class="languageModal__logo d-md-none">
        <img src="/assets/images/logo.svg" alt="logo" />
      </div>

      <h2>Selecteer uw land en taalkeuze</h2>

      <div class="languageModal__wrapper-child">
        <div class="tab-content">
          <div class="flex-wrap d-flex align-items-center languageModal__wrapper-flags justify-content-center">
            <div class="d-flex align-items-center flag" *ngFor="let lang of languages"
              [ngClass]="{'active': lang === selectedLanguage, 'notActive': lang !== selectedLanguage }" role="button"
              (click)="selectLanguages(lang)">
              <span>{{lang}}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="languageModal__scroll d-md-flex">
        <ul class="nav nav-tabs border-0" id="myTabModal" role="tablist">
          <li class="nav-item" role="presentation" *ngFor="let item of continentsConfig; let i = index">
            <button class="nav-link" [ngClass]="{'active':item?.selected}" [id]="item?.id" data-bs-toggle="tab"
              [attr.data-bs-target]="item?.target" type="button" role="tab" [attr.aria-controls]="item?.title"
              [attr.aria-selected]="item?.selected" (click)="selectContinent(i)">{{item?.title}}</button>
          </li>
        </ul>
      </div>
      <div class="tab-content" [ngClass]="{'isButton': selectedCountry && selectedLanguage}" id="myTabContent">
        <div class="tab-pane fade show active" id="nav-Afrika" role="tabpanel" aria-labelledby="nav-Afrika">
          <div class="flex-wrap d-flex align-items-center languageModal__wrapper-flags">
            <div *ngFor="let item of countryList; let i = index"
              class="d-flex align-items-center flag notActive"
              [ngClass]="{'active': item === selectedCountry,'notActive': item !== selectedCountry}" role="button"
              (click)="selectCountry(item)">
              <img src="/assets/images/angola.svg" [alt]="item?.['name']" [title]="item?.['name']" class="me-2">
              <span>{{item?.['name']}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="languageModal__bottom d-none d-md-flex justify-content-center align-items-center">
       <a (click)="closeModal()" class="btn btn-white btn-sm">
            Close
        </a>
        <div class="d-md-flex justify-content-end languageModal__next" *ngIf="selectedCountry && selectedLanguage">
            <button class="btn btn-white" [disabled]="!selectedLanguage" (click)="saveLanguage()">Bevestig en start</button>
        </div>
    </div>
</div>
